// In this file you can override the default variables of Bootstrap
// Do you want primary to be green? Just add "$primary: #00FF00;" to this file and the theme will automatically compile the scss for you.
// Define variables
$background-color-white: #FAFBFD;
$background-color-blue: #EFF1F6;
$icons-background-color-blue: #2A327F;
$footer-background-color-blue: #1C3795;
$logotype-background-color-white: #FFFFFF;
$tile-background-color-white: #FAFBFD;
$tile-background-color-blue: #F6F7FB;
$facts-background-color-blue: #1C3795;
$audit-border-color-blue: #B2BDDA;

$box-shadow-color-white: #EFF1F6;
$box-shadow-color-blue: #D6DDED;
$border-color-blue: #D6DDED;
$border-color-white: #FAFBFD;

$border-radius-8: 8px;
$border-radius-10: 10px;
$border-radius-16: 16px;
$border-radius-20: 20px;

$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;

$font-color-white: #FFFFFF;
$font-color-black: #232428;
$font-color-blue: #2A327F;

$link-color: #2A327F;
$blue-color: #2A327F;

$button-background-color-accent-blue: #1C3795;
$button-background-color-green: #C0D349;
$button-background-color-red: #FF0F3A;
$validation-error-color: #FF0F3A;
$button-color-white: #FFFFFF;
$button-border-radius-8: 8px;
$button-line-height: 140%;

$title-line-height: 120%;
$subtitle-line-height: 140%;
$text-line-height: 150%;

$cubic-bezier-buttons: cubic-bezier(0.075, 0.82, 0.165, 1);

// Define commonly used breakpoints
$breakpoints: (
  "xs": 425px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1496px
);

// Define commonly used container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  xxl: 1496px
);