.CertificationAudit__container {
  padding: clamp-calc(40px, 70px) 0 clamp-calc(40px, 70px);

  &__header {
    margin: 0 0 clamp-calc(20px, 42px);
  }

  &__header--title {
    margin: 0 0 clamp-calc(20px, 42px);
    font-weight: $font-weight-700;
    font-size: clamp-calc(28px, 60px);
    line-height: $subtitle-line-height;
    color: $font-color-blue;
  }

  &__header--description p {
    margin: 0 0 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: clamp-calc(18px, 24px);
    line-height: $text-line-height;

    &:last-of-type {
      margin: 0
    }
  }

  &__auditSteps {
    @include flex-column;
    gap: 16px;
  }

  &__auditStep {
    @include flex-column;

    @include respond-min(md) {
      @include flex-row-space-top;
    }

    gap: clamp-calc(24px, 54px);
    padding: 42px clamp-calc(24px, 82px) 42px clamp-calc(24px, 62px);
    background-color: $background-color-blue;
    border: 1px solid $audit-border-color-blue;
    border-radius: $border-radius-16;
  }

  &__auditStep--index {
    min-width: 84px;
    border-radius: $border-radius-16;
    font-size: clamp-calc(60px, 100px);
    line-height: .83;
    color: $font-color-blue;
  }

  &__auditStep--description {
    line-height: $text-line-height;
    font-size: clamp-calc(18px, 24px);

    p {
      margin: 0;
    }
  }

  &__auditFinalDescription {
    margin: clamp-calc(40px, 90px) 0 0;
    font-weight: $font-weight-700;
    font-size: clamp-calc(18px, 24px);
    line-height: $text-line-height;
    color: $font-color-blue;

    p {
      margin: 0;
    }
  }
}