.OurOfferTiles__container {
  padding: clamp-calc(40px, 60px) 0 clamp-calc(70px, 140px);
  background-color: $background-color-blue;
  position: relative;
  z-index: 1;

  &__title {
    margin: 0 0 clamp-calc(40px, 60px);
    font-size: clamp-calc(28px, 60px);
    font-weight: $font-weight-700;
    line-height: $title-line-height;
    color: $font-color-blue
  }

  &__tiles {
    @include display-grid-columns-gap;
  }

  &__tile {
    min-height: clamp-calc(400px, 564px);
    @include flex-column;
    padding: 26px 24px 36px;
    border-radius: $border-radius-16;
    background-color: $tile-background-color-white;
  }

  &__tile--bar {
    width: 100%;
    min-height: 16px;
    height: 16px;
    margin: 0 0 16px;
    background: var(--bar-color);
    border-radius: $border-radius-10;
  }

  &__tile--image {
    margin: 0 0 16px;
    min-height: clamp-calc(160px, 260px);
    height: clamp-calc(160px, 260px);
  }

  &__tile--content {
    height: 100%;
    max-width: 389px;
    @include flex-column;
    justify-content: space-between;
  }

  &__tile--title {
    @include line-clamp(2);

    @include respond-min(md) {
      height: clamp-calc(65px, 78px);
    }

    margin: 0 0 clamp-calc(12px, 18px);
    font-size: clamp-calc(20px, 28px);
    font-weight: $font-weight-700;
    line-height: $subtitle-line-height;
    color: $font-color-black
  }

  &__tile--description {
    margin: 0 0 clamp-calc(30px, 70px);

    p {
      margin: 0 0 6px;
      font-size: clamp-calc(16px, 18px);
      line-height: $text-line-height;
      color: $font-color-black;
    }
  }

  &__tile--button {
    display: inline-block;
    font-size: clamp-calc(18px, 24px);
    text-decoration: none;
    color: $font-color-blue;
  }

  &__tile--button img {
    width: clamp-calc(16px, 22px);
    margin: 0 0 0 6px;
  }
}